<ul *ngIf="files && files.length > 0; else loadingTemplate">
  <li *ngFor="let item of files | sort">
    <span 
      [ngClass]="{'folder': item.type === 'folder', 
                  'folder_closed': !isOpen(item) && item.type === 'folder',
                  'folder_opened': isOpen(item) && item.type === 'folder'}"
      (click)="onItemClick(item)">
      {{item.name}}
    </span>
    <span *ngIf="item.type === 'folder'">
      ({{item.children.length}})
    </span>
    <ul *ngIf="isOpen(item)">
      <li *ngFor="let child of item.children | sort">
          <span 
            [ngClass]="{'folder': child.type === 'folder', 
                        'folder_closed': !isOpen(child) && child.type === 'folder',
                        'folder_opened': isOpen(child) && child.type === 'folder'}" 
            (click)="onItemClick(child)">
            {{child.name}}
          </span>
          <span *ngIf="child.type === 'folder'">
            ({{child.children.length}})
          </span>
        <ul *ngIf="isOpen(child)">
          <li *ngFor="let grandchild of child.children | sort">
              <span 
                [ngClass]="{'folder': grandchild.type === 'folder', 
                            'folder_closed': !isOpen(grandchild) && grandchild.type === 'folder',
                            'folder_opened': isOpen(grandchild) && grandchild.type === 'folder'}" 
                (click)="onItemClick(grandchild)">
                {{grandchild.name}}
              </span>
              <span *ngIf="grandchild.type === 'folder'">
                ({{grandchild.children.length}})
              </span>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<ng-template #loadingTemplate>
  <div class="loading">
    Data is loading...
  </div>
</ng-template>
